<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
<bean id="memberService" class="model.MemberServiceImpl"></bean>
<bean id="productService" class="model.ProductServiceImpl"></bean>

<!-- AOP 설정 -->
<!-- 횡단 or 공통관심사(Cross Cutting)를 정의한 bean -->
<bean id="commonService" class="aop.common.LoggingService"></bean>
<aop:config>
	<aop:aspect ref="commonService">
	<!-- pointcut : aop 횡단관심사를 적용할 대상을 지정 
		execution (public * model.*Service.find*(..))
		public : 메서드 접근 제어자 
		* : 리턴타입 (void 를 포함한 모든 타입이 가능)
		model : 패키지
		*Service : 인터페이스 또는 클래스명(Service로 마치는 인터페이스 또는 클래스)
		find* : 메서드명 (find로 시작되는 메서드)
		(..) : 0~* 매개변수
	-->
		<aop:pointcut expression="execution(public * model.*Service.find*(..))" id="pt"/>
	<!-- advice : 어느 시점에 횡단관심사를 적용할 것인가를 명시 -->
		<aop:before method="findLogging" pointcut-ref="pt"/>
	</aop:aspect>
</aop:config>
</beans>

